Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_unittest, run_regtest

bugfix: fix compare subquery bug in aggregation compare
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/planner/core/expression_rewriter.go
Due: run_unittest, run_regtest

add scql change tag
  pkg/planner/core/expression_rewriter.go
Due: run_unittest, run_regtest

edit the test case
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_unittest, run_regtest

adapt spu.proto package changes
  api/broker.proto
  api/engine.proto
  api/interpreter.proto
  docs/api/broker.swagger.yaml
  pkg/proto-gen/scql/broker.pb.go
  pkg/proto-gen/scql/engine.pb.go
  pkg/proto-gen/scql/interpreter.pb.go
  pkg/proto-gen/spu/spu.pb.go
Due: run_unittest, run_regtest

bugfix: fix compare subquery bug in aggregation compare (#491)
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/planner/core/expression_rewriter.go
Due: run_unittest, run_regtest

Trigger unit test based on the changed code & extract the duplicate code as a command
  .circleci/config.yml
  .circleci/unittest-config.yml
Due: run_unittest

change bazel to bazelisk
  .circleci/unittest-config.yml
Due: run_unittest

Split path-filtering/filter parameters
  .circleci/config.yml
Due: none

fix typo
  .circleci/unittest-config.yml
Due: run_unittest

rename scdb_ut/engine_ut to go_ut/cpp_ut
  .circleci/config.yml
  .circleci/unittest-config.yml
Due: run_unittest

add trigger file for run_cpp_ut
  .circleci/config.yml
Due: none

CI: optimize unit test (#492)
  .circleci/config.yml
  .circleci/unittest-config.yml
Due: run_unittest

use action-unassign-contributor-after-days-of-inactivity@main
  .github/workflows/oscp.yml
Due: none

chore: refine oscp workflow (#490)
  .github/workflows/oscp.yml
Due: none

refactor: use secretflow/.github oscp unassign template
  .github/workflows/oscp.yml
Due: none

refactor: use secretflow/.github oscp unassign template (#493)
  .github/workflows/oscp.yml
Due: none

fix typo in filename
  pkg/interpreter/translator/logical_plan_pre_process.go
Due: run_unittest, run_regtest

[chore] fix typo in filename (#494)
  pkg/interpreter/translator/logical_plan_pre_process.go
Due: run_unittest, run_regtest

add zh-cn doc
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/reference/operators.md
Due: none

add idx to broker columns meta to keep original order
  .ci/broker-docker-compose/mysql/initdb/broker_init_alice.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_bob.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_carol.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_alice.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_bob.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_carol.sql
  benchmark/docker-compose/mysql/initdb/broker_init_alice.sql
  benchmark/docker-compose/mysql/initdb/broker_init_bob.sql
  benchmark/docker-compose/mysql/initdb/broker_init_carol.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
  pkg/broker/storage/model.go
  pkg/broker/storage/storage.go
  pkg/broker/storage/storage_test.go
  scripts/db/broker-db-mysql-init.sql
Due: run_unittest, run_regtest

fix test
  pkg/broker/executor/query_runner_test.go
Due: run_unittest, run_regtest

fix empty description
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
Due: none

add zh-cn doc (#495)
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/reference/operators.md
Due: none

Fix macos_engine_ut (#468)
  .circleci/unittest-config.yml
Due: run_unittest

modify release infos
  .circleci/unittest-config.yml
  CHANGELOG.md
  MODULE.bazel.lock
Due: run_unittest

prepare release version info
  CHANGELOG.md
  MODULE.bazel
  version.txt
Due: none

fix version for release
  version.txt
Due: none

change version info to 0.9.4dev
  CHANGELOG.md
  MODULE.bazel
  version.txt
Due: none

tweak cpp namespace
  engine/core/type.cc
  engine/core/type.h
  engine/exe/main.cc
  engine/framework/session.cc
  engine/framework/session.h
  engine/framework/session_manager.cc
  engine/framework/session_manager.h
  engine/framework/session_manager_test.cc
  engine/operator/arrow_func_test.cc
  engine/operator/cast.cc
  engine/operator/coalesce_test.cc
  engine/operator/concat.cc
  engine/operator/if_null_test.cc
  engine/operator/is_null_test.cc
  engine/operator/join_test.cc
  engine/operator/oblivious_group_agg_test.cc
  engine/operator/secret_join.cc
  engine/operator/secret_join_test.cc
  engine/operator/test_util.cc
  engine/operator/test_util.h
  engine/operator/unary_test.cc
  engine/services/engine_service_impl_test.cc
  engine/util/ndarray_to_arrow.cc
  engine/util/spu_io.cc
Due: run_unittest, run_regtest

update spu & adapt spu proto package changes
  MODULE.bazel
  MODULE.bazel.lock
  api/broker.proto
  api/engine.proto
  api/interpreter.proto
  docs/api/broker.swagger.yaml
  pkg/proto-gen/scql/broker.pb.go
  pkg/proto-gen/scql/engine.pb.go
  pkg/proto-gen/scql/interpreter.pb.go
  pkg/proto-gen/spu/spu.pb.go
Due: run_unittest, run_regtest

add staging in changelog
  CHANGELOG.md
Due: none

change version info to 0.9.4dev (#498)
  CHANGELOG.md
  MODULE.bazel
  version.txt
Due: none

fix column type
  .ci/broker-docker-compose/mysql/initdb/broker_init_alice.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_bob.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_carol.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_alice.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_bob.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_carol.sql
  benchmark/docker-compose/mysql/initdb/broker_init_alice.sql
  benchmark/docker-compose/mysql/initdb/broker_init_bob.sql
  benchmark/docker-compose/mysql/initdb/broker_init_carol.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
  scripts/db/broker-db-mysql-init.sql
Due: none

adapt latest spu
  MODULE.bazel
  MODULE.bazel.lock
  engine/core/BUILD.bazel
  engine/core/type.h
  engine/exe/main.cc
  engine/framework/session.cc
  engine/framework/session_manager_test.cc
  engine/operator/secret_join.cc
  engine/operator/test_util.cc
  engine/operator/test_util.h
  engine/services/engine_service_impl_test.cc
  engine/util/ndarray_to_arrow.cc
Due: run_unittest, run_regtest

update spulib commit
  MODULE.bazel
Due: none

modify column naming
  .ci/broker-docker-compose/mysql/initdb/broker_init_alice.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_bob.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_carol.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_alice.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_bob.sql
  .ci/broker-docker-compose/postgres/initdb/broker_init_carol.sql
  benchmark/docker-compose/mysql/initdb/broker_init_alice.sql
  benchmark/docker-compose/mysql/initdb/broker_init_bob.sql
  benchmark/docker-compose/mysql/initdb/broker_init_carol.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
  pkg/broker/storage/model.go
  pkg/broker/storage/storage.go
  scripts/db/broker-db-mysql-init.sql
Due: run_unittest, run_regtest

[docs] Key Considerations Added #481,#482
  docs/intro/p2p-tutorial.rst
  docs/intro/tutorial.rst
  docs/locales/zh_CN/LC_MESSAGES/intro/p2p-tutorial.po
  docs/locales/zh_CN/LC_MESSAGES/intro/tutorial.po
Due: none

[docs] Key Considerations Added #481,#482
  docs/locales/zh_CN/LC_MESSAGES/intro/tutorial.po
Due: none

[docs] Some Considerations Added #481,#482
  docs/intro/p2p-tutorial.rst
  docs/intro/tutorial.rst
  docs/locales/zh_CN/LC_MESSAGES/intro/p2p-tutorial.po
  docs/locales/zh_CN/LC_MESSAGES/intro/tutorial.po
Due: none

Path conditions:
  run_unittest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/unittest-config.yml)
  run_regtest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/regtest-config.yml)
