Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  enable_regtest:
    type: boolean
    default: false

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  run_ut:
    when:
      and:
        - not: << pipeline.parameters.enable_regtest >>
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
        - not: << pipeline.parameters.GHA_Event >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/unittest-config.yml
          mapping: |
            api/.* run_go_ut true
            cmd/.* run_go_ut true
            pkg/.* run_go_ut true
            contrib/.* run_go_ut true
            .circleci/unittest-config.yml run_go_ut true 
            bazel/.* run_cpp_ut true
            engine/.* run_cpp_ut true
            .bazelrc run_cpp_ut true
            .bazeliskrc run_cpp_ut true
            MODULE.bazel run_cpp_ut true
            .circleci/unittest-config.yml run_cpp_ut true
  run_regtest:
    when: << pipeline.parameters.enable_regtest >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/regtest-config.yml
          mapping: |
            api/.* run_regtest true
            bazel/.* run_regtest true
            cmd/.* run_regtest true
            engine/.* run_regtest true
            pkg/.* run_regtest true
            .bazelrc run_regtest true
            .circleci/regtest-config.yml run_regtest true
  publish-workflow:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
          # This is mandatory to trigger a pipeline when pushing a tag
          filters:
            tags:
              only: /.*(?<!dev\d{8})$/

use spulib@0.9.4.dev20250319
  MODULE.bazel
  MODULE.bazel.lock
Due: run_cpp_ut

chore: adapt latest spu (#499)
  MODULE.bazel
  MODULE.bazel.lock
  api/broker.proto
  api/engine.proto
  api/interpreter.proto
  docs/api/broker.swagger.yaml
  engine/core/BUILD.bazel
  engine/core/type.h
  engine/exe/main.cc
  engine/framework/session.cc
  engine/framework/session_manager_test.cc
  engine/operator/secret_join.cc
  engine/operator/test_util.cc
  engine/operator/test_util.h
  engine/services/engine_service_impl_test.cc
  engine/util/ndarray_to_arrow.cc
  pkg/proto-gen/scql/broker.pb.go
  pkg/proto-gen/scql/engine.pb.go
  pkg/proto-gen/scql/interpreter.pb.go
  pkg/proto-gen/spu/spu.pb.go
Due: run_go_ut, run_cpp_ut, run_regtest

feat: add private interpreter for `PERCENTILE_DISC`
  pkg/interpreter/operator/constant.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_ccl.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

fix errors in broker storage (#524)
  pkg/broker/storage/storage.go
Due: run_go_ut, run_regtest

fix clang format
  engine/core/type.h
  engine/framework/session.cc
  engine/framework/session_manager_test.cc
  engine/operator/test_util.cc
  engine/services/engine_service_impl_test.cc
  engine/util/ndarray_to_arrow.cc
Due: run_cpp_ut, run_regtest

fix clang format (#527)
  engine/core/type.h
  engine/framework/session.cc
  engine/framework/session_manager_test.cc
  engine/operator/test_util.cc
  engine/services/engine_service_impl_test.cc
  engine/util/ndarray_to_arrow.cc
Due: run_cpp_ut, run_regtest

upgrade to go1.24
  MODULE.bazel
  go.mod
  pkg/broker/application/checksum.go
  pkg/broker/services/common/ask_sync_info.go
  pkg/broker/services/common/common.go
  pkg/broker/services/common/storage_with_check.go
  pkg/broker/services/inter/job_sync_util.go
  pkg/broker/services/inter/project_handler.go
  pkg/broker/services/inter/query_handler.go
  pkg/broker/services/intra/ccl_handler.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/query_handler.go
  pkg/expression/builtin_arithmetic.go
  pkg/interpreter/interpreter.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator.go
  pkg/parser/goyacc/main.go
  pkg/planner/core/logicalplan_to_stmt.go
  pkg/util/sliceutil/slice_util.go
Due: run_go_ut, run_cpp_ut, run_regtest

make pb
  MODULE.bazel.lock
  contrib/agent/proto/task_config.pb.go
  pkg/proto-gen/scql/broker.pb.go
  pkg/proto-gen/scql/ccl.pb.go
  pkg/proto-gen/scql/common.pb.go
  pkg/proto-gen/scql/core.pb.go
  pkg/proto-gen/scql/engine.pb.go
  pkg/proto-gen/scql/interpreter.pb.go
  pkg/proto-gen/scql/scdb_api.pb.go
  pkg/proto-gen/scql/status.pb.go
  pkg/proto-gen/scql/status_code.pb.go
  pkg/proto-gen/scql/subgraph.pb.go
  pkg/proto-gen/spu/spu.pb.go
Due: run_go_ut, run_regtest

Upgrade to go1.24 (#528)
  MODULE.bazel
  MODULE.bazel.lock
  contrib/agent/proto/task_config.pb.go
  go.mod
  pkg/broker/application/checksum.go
  pkg/broker/services/common/ask_sync_info.go
  pkg/broker/services/common/common.go
  pkg/broker/services/common/storage_with_check.go
  pkg/broker/services/inter/job_sync_util.go
  pkg/broker/services/inter/project_handler.go
  pkg/broker/services/inter/query_handler.go
  pkg/broker/services/intra/ccl_handler.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/query_handler.go
  pkg/expression/builtin_arithmetic.go
  pkg/interpreter/interpreter.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator.go
  pkg/parser/goyacc/main.go
  pkg/planner/core/logicalplan_to_stmt.go
  pkg/proto-gen/scql/broker.pb.go
  pkg/proto-gen/scql/ccl.pb.go
  pkg/proto-gen/scql/common.pb.go
  pkg/proto-gen/scql/core.pb.go
  pkg/proto-gen/scql/engine.pb.go
  pkg/proto-gen/scql/interpreter.pb.go
  pkg/proto-gen/scql/scdb_api.pb.go
  pkg/proto-gen/scql/status.pb.go
  pkg/proto-gen/scql/status_code.pb.go
  pkg/proto-gen/scql/subgraph.pb.go
  pkg/proto-gen/spu/spu.pb.go
  pkg/util/sliceutil/slice_util.go
Due: run_go_ut, run_cpp_ut, run_regtest

add clang format check
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

fix indent
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

test: wrong format
  engine/operator/dump_file.cc
Due: run_cpp_ut, run_regtest

restore
  engine/operator/dump_file.cc
Due: run_cpp_ut, run_regtest

fix operator description
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_regtest

fix error formatting
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

feat: add private `PERCENTILE_DISC` interpreter (#526)
  pkg/interpreter/operator/constant.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_ccl.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

Chore: use grpc@1.66.0.bcr.4 in sf br
  MODULE.bazel
  MODULE.bazel.lock
  bazel/patches/grpc-1.66.patch
  bazel/patches/grpc-module-file.patch
Due: run_cpp_ut, run_regtest

use github action instead of circleci
  .circleci/unittest-config.yml
  .github/workflows/clang-format-linter.yml
Due: run_go_ut, run_cpp_ut

Chore: use grpc@1.66.0.bcr.4 in sf br (#530)
  MODULE.bazel
  MODULE.bazel.lock
  bazel/patches/grpc-1.66.patch
  bazel/patches/grpc-module-file.patch
Due: run_cpp_ut, run_regtest

format files
  api/common.proto
  contrib/agent/proto/task_config.proto
Due: run_go_ut, run_regtest

script for formating all source and proto files
  scripts/format/clang-format.sh
Due: none

repo clang format check (#531)
  api/common.proto
  contrib/agent/proto/task_config.proto
  scripts/format/clang-format.sh
Due: run_go_ut, run_regtest

add private `PERCENTILE_DISC` operator implementation
  engine/framework/exec.cc
  engine/framework/exec.h
  engine/operator/all_ops_register.cc
  engine/operator/group_agg.cc
  engine/operator/group_agg.h
  engine/operator/group_agg_test.cc
  engine/operator/test_util.cc
  engine/operator/test_util.h
  engine/util/tensor_util.cc
  engine/util/tensor_util.h
Due: run_cpp_ut, run_regtest

Update engine/operator/group_agg.cc
  engine/operator/group_agg.cc
Due: run_cpp_ut, run_regtest

Update engine/operator/group_agg_test.cc
  engine/operator/group_agg_test.cc
Due: run_cpp_ut, run_regtest

adjust null check
  engine/operator/group_agg.cc
Due: run_cpp_ut, run_regtest

ci: add clang format check (#529)
  .github/workflows/clang-format-linter.yml
Due: none

add interpreter for secret `PERCENTILE_DISC`
  pkg/interpreter/operator/constant.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

Update pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

add golangci-lint
  .github/workflows/golangci-lint.yml
Due: none

trigger clang format check only when cpp related files are changed
  .github/workflows/clang-format-linter.yml
  .github/workflows/golangci-lint.yml
Due: none

add yaml-linter
  .github/workflows/golangci-lint.yml
  .github/workflows/yaml-linter.yml
Due: none

add license-check
  .github/workflows/license-check.yml
Due: none

add check for bazel files
  .github/workflows/buildifier.yml
Due: none

add format check for py files
  .github/workflows/black.yml
Due: none

add docs check
  .github/workflows/docs-check.yml
Due: none

add single party replace
  pkg/expression/expression_to_stmt.go
  pkg/planner/core/testdata/runsql_in.json
Due: run_go_ut, run_regtest

add licenserc.yaml
  .licenserc.yaml
Due: none
