Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  enable_regtest:
    type: boolean
    default: false

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  run_ut:
    when:
      and:
        - not: << pipeline.parameters.enable_regtest >>
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
        - not: << pipeline.parameters.GHA_Event >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/unittest-config.yml
          mapping: |
            api/.* run_go_ut true
            cmd/.* run_go_ut true
            pkg/.* run_go_ut true
            contrib/.* run_go_ut true
            .circleci/unittest-config.yml run_go_ut true 
            bazel/.* run_cpp_ut true
            engine/.* run_cpp_ut true
            .bazelrc run_cpp_ut true
            .bazeliskrc run_cpp_ut true
            MODULE.bazel run_cpp_ut true
            .circleci/unittest-config.yml run_cpp_ut true
  run_regtest:
    when: << pipeline.parameters.enable_regtest >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/regtest-config.yml
          mapping: |
            api/.* run_regtest true
            bazel/.* run_regtest true
            cmd/.* run_regtest true
            engine/.* run_regtest true
            pkg/.* run_regtest true
            .bazelrc run_regtest true
            .circleci/regtest-config.yml run_regtest true
  publish-workflow:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
          # This is mandatory to trigger a pipeline when pushing a tag
          filters:
            tags:
              only: /.*(?<!dev\d{8})$/

Feat: add single party replace (#535)
  pkg/expression/expression_to_stmt.go
  pkg/planner/core/testdata/runsql_in.json
Due: run_go_ut, run_regtest

adjust null check
  engine/operator/group_agg.cc
Due: run_cpp_ut, run_regtest

fix clang-format
  api/common.proto
  contrib/agent/proto/task_config.proto
  engine/operator/group_agg_test.cc
Due: run_go_ut, run_cpp_ut, run_regtest

update paths-ignore
  .licenserc.yaml
Due: none

fix format
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

check cc file in clang-format-linter & use official golangci-lint
  .github/workflows/black.yml
  .github/workflows/buildifier.yml
  .github/workflows/clang-format-linter.yml
  .github/workflows/docs-check.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/license-check.yml
  .github/workflows/trigger_release.yml
  .github/workflows/yaml-linter.yml
Due: none

add license
  .ci/script/rename_junit_xml.sh
  benchmark/docker-compose/setup.py
  benchmark/scripts/analysis.sh
  benchmark/scripts/setup_wan.sh
  docs/build.sh
  docs/update_po.sh
  engine/bazel/gperftools.BUILD
  engine/datasource/http_router.cc
  engine/datasource/http_router.h
  engine/datasource/mock_router_server.py
  engine/operator/window.cc
  engine/services/prometheus_service.proto
  pkg/util/mock/mock.sh
  pkg/util/mock/mock_from_testdata.py
  test-tools/ca_generator.sh
Due: run_go_ut, run_cpp_ut, run_regtest

add missing attr in test case
  engine/operator/group_agg_test.cc
Due: run_cpp_ut, run_regtest

build: upgrade to bazel 7.6
  .bazeliskrc
  MODULE.bazel.lock
Due: run_cpp_ut

chore: completion of missing licenses (#537)
  .ci/script/rename_junit_xml.sh
  benchmark/docker-compose/setup.py
  benchmark/scripts/analysis.sh
  benchmark/scripts/setup_wan.sh
  docs/build.sh
  docs/update_po.sh
  engine/bazel/gperftools.BUILD
  engine/datasource/http_router.cc
  engine/datasource/http_router.h
  engine/datasource/mock_router_server.py
  engine/operator/window.cc
  engine/services/prometheus_service.proto
  pkg/util/mock/mock.sh
  pkg/util/mock/mock_from_testdata.py
  test-tools/ca_generator.sh
Due: run_go_ut, run_cpp_ut, run_regtest

chore: add more workflows (#534)
  .github/workflows/black.yml
  .github/workflows/buildifier.yml
  .github/workflows/clang-format-linter.yml
  .github/workflows/docs-check.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/license-check.yml
  .github/workflows/trigger_release.yml
  .github/workflows/yaml-linter.yml
  .licenserc.yaml
Due: none

build: upgrade to bazel 7.6 (#540)
  .bazeliskrc
  MODULE.bazel.lock
Due: run_cpp_ut

add interpreter for `PERCENTILE_DISC` on reduce case
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/operator/constant.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

add percent check
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

Update pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

Revert "Update pkg/interpreter/translator/build_execution_node.go"
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

add more error log
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

repo-sync contains two commit:
  MODULE.bazel
  pkg/scdb/server/query_result_handler.go
  pkg/scdb/server/submit_and_get_handler.go
  pkg/scdb/server/submit_handler.go
Due: run_go_ut, run_cpp_ut, run_regtest

update golangci output formats
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

repo-sync 2025-0328-15:00 (#542)
  MODULE.bazel
  pkg/scdb/server/query_result_handler.go
  pkg/scdb/server/submit_and_get_handler.go
  pkg/scdb/server/submit_handler.go
Due: run_go_ut, run_cpp_ut, run_regtest

format py files
  .ci/broker-docker-compose/setup.py
  .ci/docker-compose/setup.py
  benchmark/docker-compose/setup.py
  benchmark/scripts/mock_data.py
  pkg/util/mock/mock_from_testdata.py
Due: run_go_ut, run_regtest

update golangci from v1 to v2
  .golangci.yml
Due: none

update version field
  .golangci.yml
Due: none

change to use partition_nth_indices
  engine/operator/group_agg.cc
  engine/operator/group_agg_test.cc
Due: run_cpp_ut, run_regtest

remove deprecated fields
  .golangci.yml
Due: none

feat: add private `PERCENTILE_DISC` operator implementation (#532)
  engine/framework/exec.cc
  engine/framework/exec.h
  engine/operator/all_ops_register.cc
  engine/operator/group_agg.cc
  engine/operator/group_agg.h
  engine/operator/group_agg_test.cc
  engine/operator/test_util.cc
  engine/operator/test_util.h
  engine/util/tensor_util.cc
  engine/util/tensor_util.h
Due: run_cpp_ut, run_regtest

fix misspell & formatters
  .golangci.yml
Due: none

remove goimports in linters
  .golangci.yml
Due: none

remove gosimple
  .golangci.yml
Due: none

add exclude-functions in errcheck
  .golangci.yml
Due: none

gofmt check
  pkg/interpreter/operator/operator_def.go
  pkg/interpreter/translator/algorithm.go
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

add missing err handling
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

temp
  engine/operator/reduce.cc
  engine/operator/reduce.h
Due: run_cpp_ut, run_regtest

add some method
  engine/operator/all_ops_register.cc
  engine/operator/reduce.cc
  engine/operator/reduce.h
Due: run_cpp_ut, run_regtest

add `ObliviousPercentileDisc` operator implementation
  engine/operator/all_ops_register.cc
  engine/operator/oblivious_group_agg.cc
  engine/operator/oblivious_group_agg.h
  engine/operator/oblivious_group_agg_test.cc
  engine/util/spu_io.h
Due: run_cpp_ut, run_regtest

clang-format
  engine/operator/oblivious_group_agg_test.cc
Due: run_cpp_ut, run_regtest

add `ReducePercentileDisc` operator
  engine/operator/BUILD.bazel
  engine/operator/reduce.cc
  engine/operator/reduce.h
  engine/operator/reduce_test.cc
Due: run_cpp_ut, run_regtest

remove dup scql import
  pkg/broker/services/intra/query_handler.go
Due: run_go_ut, run_regtest

fix staticcheck
  .golangci.yml
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest
