Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_unittest, run_regtest

Revert translator action
  .github/workflows/translator.yml
Due: none

Revert translator action (#459)
  .github/workflows/translator.yml
Due: none

fix regtest inputs
  cmd/regtest/testdata/two_parties.json
Due: run_unittest, run_regtest

fix typo
  pkg/interpreter/translator/translator.go
Due: run_unittest, run_regtest

fix col name
  cmd/regtest/testdata/single_party.json
Due: run_unittest, run_regtest

[chore] refine input queries for regression test and fix typo (#465)
  cmd/regtest/testdata/single_party.json
  cmd/regtest/testdata/two_parties.json
  pkg/interpreter/translator/translator.go
Due: run_unittest, run_regtest

Revert "[chore] refine input queries for regression test and fix typo (#465)"
  cmd/regtest/testdata/single_party.json
  cmd/regtest/testdata/two_parties.json
  pkg/interpreter/translator/translator.go
Due: run_unittest, run_regtest

Revert "[chore] refine input queries for regression test and fix typo" (#466)
  cmd/regtest/testdata/single_party.json
  cmd/regtest/testdata/two_parties.json
  pkg/interpreter/translator/translator.go
Due: run_unittest, run_regtest

rm bazel lock file
  MODULE.bazel.lock
Due: none

Fix macos_engine_ut with xcode 16.0.0
  .circleci/unittest-config.yml
Due: run_unittest

handle view specially in dialect
  pkg/planner/core/database_dialect.go
Due: run_unittest, run_regtest

Remove "-c opt" to make macos arm64 engine test pass
  .circleci/unittest-config.yml
Due: run_unittest

remove DbType "view"
  pkg/broker/services/intra/view_handler.go
  pkg/planner/core/database_dialect.go
Due: run_unittest, run_regtest

Add CODEOWNERS file
  .github/CODEOWNERS
Due: none

fix user not found
  .github/CODEOWNERS
Due: none

chore: add codeowners file (#473)
  .github/CODEOWNERS
Due: none

handle the case of empty DbType
  pkg/broker/executor/query_runner.go
  pkg/broker/services/common/common.go
  pkg/interpreter/interpreter.go
Due: run_unittest, run_regtest

Fix macos_engine_ut (#468)
  .circleci/unittest-config.yml
Due: run_unittest

modify for pre release 0.9.3
  .circleci/unittest-config.yml
  CHANGELOG.md
  MODULE.bazel
  MODULE.bazel.lock
  version.txt
Due: run_unittest

update changelog
  CHANGELOG.md
  MODULE.bazel.lock
Due: none

fix
  CHANGELOG.md
Due: none

fix desc in changelog
  CHANGELOG.md
Due: none

modify
  CHANGELOG.md
Due: none

modify details
  MODULE.bazel
  version.txt
Due: none

modify release infos
  .circleci/unittest-config.yml
  CHANGELOG.md
  MODULE.bazel.lock
Due: run_unittest

chore: use bazelisk
  .circleci/regtest-config.yml
  .circleci/unittest-config.yml
  CONTRIBUTING.md
  Makefile
  api/generate_proto.sh
  contrib/agent/proto/generate_proto.sh
Due: run_unittest, run_regtest

Fix `bazel mod graph` not working
  MODULE.bazel
  MODULE.bazel.lock
Due: none

trigger ut when MODULE.bazel file changed
  .circleci/config.yml
Due: none

adjust some code
  pkg/broker/executor/query_runner.go
  pkg/interpreter/interpreter.go
  pkg/planner/core/rewrite.go
Due: run_unittest, run_regtest

Add unassign stable oscp issue workflow
  .github/workflows/oscp.yml
Due: none

poblish the english message
  .github/workflows/oscp.yml
Due: none

Add unassign stable oscp issue workflow (#476)
  .github/workflows/oscp.yml
Due: none

fix testcase
  cmd/regtest/testdata/single_party.json
  cmd/regtest/testdata/two_parties.json
  pkg/interpreter/interpreter_test.go
Due: run_unittest, run_regtest

chore: refine oscp workflow
  .github/workflows/oscp.yml
Due: none

remove unused DbType (#470)
  pkg/broker/executor/query_runner.go
  pkg/broker/services/common/common.go
  pkg/broker/services/intra/view_handler.go
  pkg/interpreter/interpreter.go
  pkg/planner/core/database_dialect.go
  pkg/planner/core/rewrite.go
Due: run_unittest, run_regtest

[chore] refine test cases and fix typo (#489)
  cmd/regtest/testdata/single_party.json
  cmd/regtest/testdata/two_parties.json
  pkg/interpreter/interpreter_test.go
  pkg/interpreter/translator/translator.go
Due: run_unittest, run_regtest

chore: use bazelisk (#474)
  .circleci/regtest-config.yml
  .circleci/unittest-config.yml
  CONTRIBUTING.md
  Makefile
  api/generate_proto.sh
  contrib/agent/proto/generate_proto.sh
Due: run_unittest, run_regtest

Path conditions:
  run_unittest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/unittest-config.yml)
  run_regtest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/regtest-config.yml)
