Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_unittest, run_regtest

update spu to 0.9.2dev (#315)
  engine/bazel/engine_deps.bzl
  version.txt
Due: run_unittest, run_regtest

Implementing dynamic reading of MySQL data sources through HTTP routing.
  engine/datasource/mock_router_server_persistence_mysql.py
Due: run_unittest, run_regtest

update spu
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

bump version
  version.txt
Due: none

bump version (#320)
  version.txt
Due: none

chore: update to go@1.22 to fix go@1.19 install failed issue
  .circleci/unittest-config.yml
Due: run_unittest

chore: update to go@1.22 to fix go@1.19 install failed issue (#335)
  .circleci/unittest-config.yml
Due: run_unittest

Bump version to 0.9.0b1
  version.txt
Due: none

Bump version to 0.9.0b1 (#336)
  version.txt
Due: none

fix rename-junit-xml.sh path not exists issue
  .circleci/unittest-config.yml
Due: run_unittest

fix rename-junit-xml.sh path not exists issue (#337)
  .circleci/unittest-config.yml
Due: run_unittest

remove dot in oss dir
  engine/util/filepath_helper_test.cc
Due: run_unittest, run_regtest

modify codes
  engine/datasource/duckdb_wrapper.cc
  engine/operator/dump_file.cc
  engine/util/filepath_helper.cc
  engine/util/filepath_helper.h
  engine/util/filepath_helper_test.cc
Due: run_unittest, run_regtest

fix error
  engine/util/filepath_helper.cc
  engine/util/filepath_helper_test.cc
Due: run_unittest, run_regtest

remove dot in oss dir (#339)
  engine/datasource/duckdb_wrapper.cc
  engine/operator/dump_file.cc
  engine/util/filepath_helper.cc
  engine/util/filepath_helper.h
  engine/util/filepath_helper_test.cc
Due: run_unittest, run_regtest

deps: update psi to v0.5.0.dev241016 to fix intel-ipp checksum broken problem
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

format
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

dep: upgrade google.golang.org/grpc to v1.64.1
  go.mod
  go.sum
Due: none

deps: update psi to v0.5.0.dev241016 to fix intel-ipp checksum broken problem (#377)
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

dep: upgrade google.golang.org/grpc to v1.64.1 (#378)
  go.mod
  go.sum
Due: none

bump version to 0.9.1b1
  version.txt
Due: none

bump version to 0.9.1b1 (#379)
  version.txt
Due: none

update circleci action version
  .github/workflows/trigger_release.yml
Due: none

update circleci action version (#380)
  .github/workflows/trigger_release.yml
Due: none

fix compile erorr without `-c opt` option
  WORKSPACE
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

fix compile erorr without `-c opt` option (#389)
  WORKSPACE
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

repo-sync-2024-11-05T21:17:47+0800
  README.md
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

repo-sync-2024-11-05T21:17:47+0800 (#392)
  README.md
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

add feature result share
  .gitignore
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/interpreter.go
  pkg/interpreter/interpreter_test.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/parser/ast/dml.go
  pkg/parser/parser.go
  pkg/parser/parser.y
Due: run_unittest, run_regtest

fix partyfile restore; add ut for dml
  pkg/parser/ast/dml.go
  pkg/parser/ast/dml_test.go
Due: run_unittest, run_regtest

[feat] write query result into multi-parties via "select ... into outfile" statement (#391)
  .gitignore
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/interpreter.go
  pkg/interpreter/interpreter_test.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/parser/ast/dml.go
  pkg/parser/ast/dml_test.go
  pkg/parser/parser.go
  pkg/parser/parser.y
Due: run_unittest, run_regtest

Update broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
Due: none

Path conditions:
  run_unittest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/unittest-config.yml)
  run_regtest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/regtest-config.yml)
