Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_unittest, run_regtest

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  enable_regtest:
    type: boolean
    default: false

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  run_ut:
    when:
      and:
        - not: << pipeline.parameters.enable_regtest >>
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
        - not: << pipeline.parameters.GHA_Event >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/unittest-config.yml
          mapping: |
            api/.* run_unittest true
            bazel/.* run_unittest true
            cmd/.* run_unittest true
            engine/.* run_unittest true
            pkg/.* run_unittest true
            .bazelrc run_unittest true
            .circleci/unittest-config.yml run_unittest true
  run_regtest:
    when: << pipeline.parameters.enable_regtest >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/regtest-config.yml
          mapping: |
            api/.* run_regtest true
            bazel/.* run_regtest true
            cmd/.* run_regtest true
            engine/.* run_regtest true
            pkg/.* run_regtest true
            .bazelrc run_regtest true
            .circleci/regtest-config.yml run_regtest true
  publish-workflow:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
          # This is mandatory to trigger a pipeline when pushing a tag
          filters:
            tags:
              only: /.*(?<!dev\d{8})$/

translate docs
  docs/locales/zh_CN/LC_MESSAGES/index.po
  docs/locales/zh_CN/LC_MESSAGES/reference/centralized-deploy-config.po
  docs/locales/zh_CN/LC_MESSAGES/reference/engine-config.po
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/locales/zh_CN/LC_MESSAGES/reference/p2p-deploy-config.po
  docs/locales/zh_CN/LC_MESSAGES/topics/deployment/run-scql-on-kuscia.po
  docs/reference/engine-config.rst
  docs/reference/operators.md
  docs/topics/deployment/run-scql-on-kuscia.rst
Due: none

skip some test for go
  .circleci/unittest-config.yml
Due: run_unittest

fix details
  docs/locales/zh_CN/LC_MESSAGES/topics/deployment/run-scql-on-kuscia.po
Due: none

modify docs (#278)
  .circleci/unittest-config.yml
  docs/locales/zh_CN/LC_MESSAGES/index.po
  docs/locales/zh_CN/LC_MESSAGES/reference/centralized-deploy-config.po
  docs/locales/zh_CN/LC_MESSAGES/reference/engine-config.po
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/locales/zh_CN/LC_MESSAGES/reference/p2p-deploy-config.po
  docs/locales/zh_CN/LC_MESSAGES/topics/deployment/run-scql-on-kuscia.po
  docs/reference/engine-config.rst
  docs/reference/operators.md
  docs/topics/deployment/run-scql-on-kuscia.rst
Due: run_unittest

Delete .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Delete .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Delete .github/ISSUE_TEMPLATE/others.md
  .github/ISSUE_TEMPLATE/others.md
Due: none

Consulting_issue_template.yaml
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
Due: none

Create Error_Issue_Template.yaml
  .github/ISSUE_TEMPLATE/Error_Issue_Template.yaml
Due: none

fix url error in docs
  docs/locales/zh_CN/LC_MESSAGES/topics/deployment/how-to-deploy-p2p-cluster.po
  docs/topics/deployment/how-to-deploy-p2p-cluster.rst
Due: none

fix url error in docs (#294)
  docs/locales/zh_CN/LC_MESSAGES/topics/deployment/how-to-deploy-p2p-cluster.po
  docs/topics/deployment/how-to-deploy-p2p-cluster.rst
Due: none

Create Consulting_issue_template.yaml
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
Due: none

Update Consulting_issue_template.yaml
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
Due: none

Add scql issue template (#295)
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
  .github/ISSUE_TEMPLATE/Error_Issue_Template.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/others.md
Due: none

Update Error_Issue_Template.yaml
  .github/ISSUE_TEMPLATE/Error_Issue_Template.yaml
Due: none

restore go test -short
  .circleci/unittest-config.yml
Due: run_unittest

bump version to 0.8.0b1
  version.txt
Due: none

fix macos ut failed
  engine/auth/authenticator.cc
Due: run_unittest, run_regtest

update Template (#302)
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
  .github/ISSUE_TEMPLATE/Error_Issue_Template.yaml
Due: none

fix macos ut failed (#306)
  engine/auth/authenticator.cc
Due: run_unittest, run_regtest

repo-sync-2024-06-24T11:02:29+0800
  .ci/broker-docker-compose/mysql/initdb/broker_init_alice.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_bob.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_carol.sql
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
  .github/ISSUE_TEMPLATE/Error_Issue_Template.yaml
  engine/auth/authenticator.cc
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
  pkg/broker/application/session.go
  pkg/broker/executor/query_runner_test.go
  pkg/broker/services/common/common.go
  pkg/broker/services/common/common_test.go
  pkg/broker/services/inter/project_handler.go
  pkg/broker/services/inter/query_handler.go
  pkg/broker/services/inter/query_handler_test.go
  pkg/broker/services/intra/handler_test.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/query_handler.go
  pkg/broker/storage/model.go
  pkg/broker/storage/storage_test.go
  scripts/db/broker-db-mysql-init.sql
  version.txt
Due: run_unittest, run_regtest

update version & github issue template
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
  .github/ISSUE_TEMPLATE/Error_Issue_Template.yaml
  version.txt
Due: none

use uppercase
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
Due: none

revert
  engine/auth/authenticator.cc
Due: run_unittest, run_regtest

repo-sync-2024-06-24T11:02:29+0800 (#309)
  .ci/broker-docker-compose/mysql/initdb/broker_init_alice.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_bob.sql
  .ci/broker-docker-compose/mysql/initdb/broker_init_carol.sql
  .github/ISSUE_TEMPLATE/Consulting_issue_template.yaml
  .github/ISSUE_TEMPLATE/Error_Issue_Template.yaml
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
  pkg/broker/application/session.go
  pkg/broker/executor/query_runner_test.go
  pkg/broker/services/common/common.go
  pkg/broker/services/common/common_test.go
  pkg/broker/services/inter/project_handler.go
  pkg/broker/services/inter/query_handler.go
  pkg/broker/services/inter/query_handler_test.go
  pkg/broker/services/intra/handler_test.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/query_handler.go
  pkg/broker/storage/model.go
  pkg/broker/storage/storage_test.go
  scripts/db/broker-db-mysql-init.sql
Due: run_unittest, run_regtest

fix release workflow
  .circleci/release-config.yml
Due: none

fix release workflow (#310)
  .circleci/release-config.yml
Due: none

Add docker image repository in readme
  README.md
Due: none

Add docker image repository in readme (#311)
  README.md
Due: none

chore: publish image to aliyun docker mirror
  .circleci/release-config.yml
Due: none

chore: publish image to aliyun docker mirror (#312)
  .circleci/release-config.yml
Due: none

update spu to 0.9.2dev
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

update version
  version.txt
Due: none
