Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

[chore] little fix for function parameter (#584)
  engine/operator/join.cc
  engine/operator/join.h
Due: run_cpp_ut, run_regtest

Update
  MODULE.bazel.lock
Due: none

chore(deps): update to brpc@1.3.0 (#581)
  MODULE.bazel
  MODULE.bazel.lock
Due: run_cpp_ut

change odbc chunk size from 3 to 1024
  engine/datasource/odbc_adaptor.cc
Due: run_cpp_ut, run_regtest

fix `PERCENTILE_DISC` secret implementation bug
  engine/operator/oblivious_group_agg.cc
  engine/operator/oblivious_group_agg.h
  engine/operator/oblivious_group_agg_test.cc
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_cpp_ut, run_regtest

add some comments
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

[docs] add How to use SCQL doc in Chinese
  docs/locales/zh_CN/LC_MESSAGES/topics/system/usage.po
Due: none

commit/rollback immediately after CheckProjectArchived
  pkg/broker/services/inter/query_handler.go
Due: run_go_ut, run_regtest

show ccl doesn't need archive check
  pkg/broker/services/intra/ccl_handler.go
Due: run_go_ut, run_regtest

fix short-circuit evaluation
  pkg/broker/services/inter/svc.go
  pkg/broker/services/intra/ccl_handler.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/table_handler.go
  pkg/broker/services/intra/view_handler.go
Due: run_go_ut, run_regtest

update error info for test
  pkg/broker/services/intra/handler_test.go
Due: run_go_ut, run_regtest

sync: bug fix for ArchiveProject (#591)
  pkg/broker/services/inter/query_handler.go
  pkg/broker/services/inter/svc.go
  pkg/broker/services/intra/ccl_handler.go
  pkg/broker/services/intra/handler_test.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/table_handler.go
  pkg/broker/services/intra/view_handler.go
Due: run_go_ut, run_regtest

Fix issues reported in PR
  docs/locales/zh_CN/LC_MESSAGES/topics/system/usage.po
Due: none

add operator doc
  docs/locales/zh_CN/LC_MESSAGES/reference/implementation-status.po
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/locales/zh_CN/LC_MESSAGES/topics/deployment/run-scql-on-kuscia.po
  docs/reference/implementation-status.rst
  docs/reference/operators.md
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_regtest

fix translation
  docs/locales/zh_CN/LC_MESSAGES/reference/implementation-status.po
Due: none

adjust the description
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/reference/operators.md
Due: none

optimize the implementation
  engine/operator/oblivious_group_agg.cc
  engine/operator/oblivious_group_agg_test.cc
Due: run_cpp_ut, run_regtest

modify doc
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/reference/operators.md
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_regtest

rm redundant code
  engine/operator/oblivious_group_agg.cc
Due: run_cpp_ut, run_regtest

emit error when the reveal_group_mark is not enabled
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

fix lint
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

enable `RevealGroupMark` for the PERCENTILE_DISC test case
  pkg/interpreter/translator/translator_ccl_test.go
Due: run_go_ut, run_regtest

add missing sort step
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

Update pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/build_execution_node.go
Due: run_go_ut, run_regtest

add doc
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/locales/zh_CN/LC_MESSAGES/topics/deployment/run-scql-on-kuscia.po
  docs/reference/operators.md
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_regtest

fix: add missing `sort` step for `percentile_disc` secret implementation (#592)
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/locales/zh_CN/LC_MESSAGES/topics/deployment/run-scql-on-kuscia.po
  docs/reference/operators.md
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

optimize mysql datasource
  engine/datasource/odbc_adaptor.cc
  engine/datasource/odbc_adaptor.h
Due: run_cpp_ut, run_regtest

clean
  engine/datasource/odbc_adaptor.cc
Due: run_cpp_ut, run_regtest

[docs] add How to use SCQL doc in Chinese (#590)
  docs/locales/zh_CN/LC_MESSAGES/topics/system/usage.po
Due: none

fix comment
  engine/datasource/odbc_adaptor.cc
Due: run_cpp_ut, run_regtest

optimize mysql datasource (#593)
  engine/datasource/odbc_adaptor.cc
  engine/datasource/odbc_adaptor.h
Due: run_cpp_ut, run_regtest

rethrow exception to threads who pop data
  engine/util/concurrent_queue.h
Due: run_cpp_ut, run_regtest

sync: [feat]add authorization for arrow sql
  engine/datasource/arrow_sql_adaptor.cc
  engine/datasource/arrow_sql_adaptor.h
Due: run_cpp_ut, run_regtest

fix comment
  engine/util/concurrent_queue.h
Due: run_cpp_ut, run_regtest

sync: use rr22 as default psi type
  engine/operator/in.cc
  engine/operator/join.cc
  engine/services/engine_service_impl.cc
Due: run_cpp_ut, run_regtest

sync: [feat]add authorization for arrow sql (#595)
  engine/datasource/arrow_sql_adaptor.cc
  engine/datasource/arrow_sql_adaptor.h
Due: run_cpp_ut, run_regtest

avoid aggressive projection elimination in aggregationPushDownSolver
  pkg/expression/column.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/testdata/runsql_in.json
  pkg/planner/core/testdata/typical_query_out.json
Due: run_go_ut, run_regtest

Path conditions:
  run_go_ut: ((((any of: api/.*) or (any of: cmd/.*)) or (any of: pkg/.*)) or (any of: contrib/.*)) or (any of: .circleci/unittest-config.yml)
  run_cpp_ut: (((((any of: bazel/.*) or (any of: engine/.*)) or (any of: .bazelrc)) or (any of: .bazeliskrc)) or (any of: MODULE.bazel)) or (any of: .circleci/unittest-config.yml)
  run_regtest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/regtest-config.yml)
