Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  enable_regtest:
    type: boolean
    default: false

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  run_ut:
    when:
      and:
        - not: << pipeline.parameters.enable_regtest >>
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
        - not: << pipeline.parameters.GHA_Event >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/unittest-config.yml
          mapping: |
            api/.* run_go_ut true
            cmd/.* run_go_ut true
            pkg/.* run_go_ut true
            contrib/.* run_go_ut true
            .circleci/unittest-config.yml run_go_ut true 
            bazel/.* run_cpp_ut true
            engine/.* run_cpp_ut true
            .bazelrc run_cpp_ut true
            .bazeliskrc run_cpp_ut true
            MODULE.bazel run_cpp_ut true
            .circleci/unittest-config.yml run_cpp_ut true
  run_regtest:
    when: << pipeline.parameters.enable_regtest >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/regtest-config.yml
          mapping: |
            api/.* run_regtest true
            bazel/.* run_regtest true
            cmd/.* run_regtest true
            engine/.* run_regtest true
            pkg/.* run_regtest true
            .bazelrc run_regtest true
            .circleci/regtest-config.yml run_regtest true
  publish-workflow:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
          # This is mandatory to trigger a pipeline when pushing a tag
          filters:
            tags:
              only: /.*(?<!dev\d{8})$/

updata staticcheck & fix fmt
  .golangci.yml
  pkg/interpreter/translator/algorithm.go
Due: run_go_ut, run_regtest

update errcheck
  .golangci.yml
Due: none

clean code
  engine/operator/oblivious_group_agg.cc
Due: run_cpp_ut, run_regtest

update exclude-func for errcheck
  .golangci.yml
Due: none

add prefix for exclude-func
  .golangci.yml
Due: none

chore: trigger/fix github workflows (#543)
  .ci/broker-docker-compose/setup.py
  .ci/docker-compose/setup.py
  .github/workflows/golangci-lint.yml
  .golangci.yml
  benchmark/docker-compose/setup.py
  benchmark/scripts/mock_data.py
  pkg/broker/services/intra/query_handler.go
  pkg/interpreter/operator/operator_def.go
  pkg/interpreter/translator/algorithm.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator.go
  pkg/util/mock/mock_from_testdata.py
Due: run_go_ut, run_regtest

feat: add interpreter for `PERCENTILE_DISC` on reduce case (#541)
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/operator/constant.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

add annotations for golangci lint
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

trigger golangci lint
  pkg/broker/executor/query_runner_test.go
Due: run_go_ut, run_regtest

trigger
  pkg/broker/executor/query_runner.go
  pkg/broker/executor/query_runner_test.go
Due: run_go_ut, run_regtest

trigger golangci-lint
  pkg/broker/executor/query_runner.go
Due: run_go_ut, run_regtest

restore
  pkg/broker/executor/query_runner.go
Due: run_go_ut, run_regtest

Chore: add golangci-lint annotation (#545)
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

feat: add secret`PERCENTILE_DISC` implementation (#533)
  engine/operator/all_ops_register.cc
  engine/operator/oblivious_group_agg.cc
  engine/operator/oblivious_group_agg.h
  engine/operator/oblivious_group_agg_test.cc
  engine/util/spu_io.h
  pkg/interpreter/operator/constant.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_cpp_ut, run_regtest

rm unused methods
  engine/operator/reduce.h
Due: run_cpp_ut, run_regtest

SortedMap
  pkg/interpreter/ccl/ccl.go
  pkg/interpreter/translator/algorithm.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/tensor_status_conversion.go
  pkg/interpreter/translator/testutil.go
  pkg/interpreter/translator/translator.go
  pkg/util/mock/mock_data.go
  pkg/util/sliceutil/slice_util.go
Due: run_go_ut, run_regtest

refine slice utils
  pkg/util/sliceutil/slice_util.go
Due: run_go_ut, run_regtest

test for slice utils
  pkg/util/sliceutil/slice_util.go
  pkg/util/sliceutil/slice_util_test.go
Due: run_go_ut, run_regtest

refactor: refine slice utils (#548)
  pkg/interpreter/ccl/ccl.go
  pkg/interpreter/translator/algorithm.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/tensor_status_conversion.go
  pkg/interpreter/translator/testutil.go
  pkg/interpreter/translator/translator.go
  pkg/util/mock/mock_data.go
  pkg/util/sliceutil/slice_util.go
  pkg/util/sliceutil/slice_util_test.go
Due: run_go_ut, run_regtest

chore: update the implement status
  docs/locales/zh_CN/LC_MESSAGES/reference/implementation-status.po
  docs/reference/implementation-status.rst
Due: none

chore: update the implement status (#549)
  docs/locales/zh_CN/LC_MESSAGES/reference/implementation-status.po
  docs/reference/implementation-status.rst
Due: none

[fix]fix date_add/date_sub
  pkg/parser/ast/functions.go
  pkg/parser/format/format_dialect.go
  pkg/planner/core/testdata/runsql_in.json
Due: run_go_ut, run_regtest

change to use internal `quantile` function
  engine/operator/reduce.cc
  engine/operator/reduce.h
Due: run_cpp_ut, run_regtest

remove unused function
  engine/operator/reduce.h
Due: run_cpp_ut, run_regtest

apply "quantile" function with group_agg as well
  engine/operator/group_agg.cc
Due: run_cpp_ut, run_regtest

[fix]fix date_add/date_sub (#550)
  pkg/parser/ast/functions.go
  pkg/parser/format/format_dialect.go
  pkg/planner/core/testdata/runsql_in.json
Due: run_go_ut, run_regtest

change to use upper_bound as the index
  engine/operator/reduce.cc
  engine/operator/reduce.h
  engine/operator/reduce_test.cc
Due: run_cpp_ut, run_regtest

change in group_agg
  engine/operator/group_agg.cc
  engine/operator/group_agg_test.cc
Due: run_cpp_ut, run_regtest

same with oblivious agg
  engine/operator/oblivious_group_agg.cc
Due: run_cpp_ut, run_regtest

add more test cases
  engine/operator/oblivious_group_agg_test.cc
  engine/operator/reduce.cc
  engine/operator/reduce_test.cc
Due: run_cpp_ut, run_regtest

Revert "remove unused function"
  engine/operator/reduce.h
Due: run_cpp_ut, run_regtest

Revert "change to use internal `quantile` function"
  engine/operator/reduce.cc
  engine/operator/reduce.h
Due: run_cpp_ut, run_regtest

rollback to previous version
  engine/operator/reduce.cc
  engine/operator/reduce_test.cc
Due: run_cpp_ut, run_regtest

Revert "apply "quantile" function with group_agg as well"
  engine/operator/group_agg.cc
Due: run_cpp_ut, run_regtest

add more test cases for group_agg
  engine/operator/group_agg_test.cc
  engine/operator/reduce_test.cc
Due: run_cpp_ut, run_regtest

Revert "same with oblivious agg"
  engine/operator/oblivious_group_agg.cc
Due: run_cpp_ut, run_regtest

add more test cases for oblivious_group_agg `percentile_disc`
  engine/operator/oblivious_group_agg_test.cc
Due: run_cpp_ut, run_regtest

fix unclear throw message
  engine/operator/reduce.cc
  engine/operator/reduce.h
Due: run_cpp_ut, run_regtest

feat: add `PERCENTILE_DISC` reduce case operator engine implementation (#547)
  engine/operator/BUILD.bazel
  engine/operator/all_ops_register.cc
  engine/operator/group_agg_test.cc
  engine/operator/oblivious_group_agg_test.cc
  engine/operator/reduce.cc
  engine/operator/reduce.h
  engine/operator/reduce_test.cc
Due: run_cpp_ut, run_regtest

parser support union-into-outfile
  pkg/parser/ast/dml.go
  pkg/parser/parser.go
  pkg/parser/parser.y
Due: run_go_ut, run_regtest
