Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  enable_regtest:
    type: boolean
    default: false

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  run_ut:
    when:
      and:
        - not: << pipeline.parameters.enable_regtest >>
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
        - not: << pipeline.parameters.GHA_Event >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/unittest-config.yml
          mapping: |
            api/.* run_go_ut true
            cmd/.* run_go_ut true
            pkg/.* run_go_ut true
            contrib/.* run_go_ut true
            .circleci/unittest-config.yml run_go_ut true 
            bazel/.* run_cpp_ut true
            engine/.* run_cpp_ut true
            .bazelrc run_cpp_ut true
            .bazeliskrc run_cpp_ut true
            MODULE.bazel run_cpp_ut true
            .circleci/unittest-config.yml run_cpp_ut true
  run_regtest:
    when: << pipeline.parameters.enable_regtest >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/regtest-config.yml
          mapping: |
            api/.* run_regtest true
            bazel/.* run_regtest true
            cmd/.* run_regtest true
            engine/.* run_regtest true
            pkg/.* run_regtest true
            .bazelrc run_regtest true
            .circleci/regtest-config.yml run_regtest true
  publish-workflow:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
          # This is mandatory to trigger a pipeline when pushing a tag
          filters:
            tags:
              only: /.*(?<!dev\d{8})$/

add union-into-outfile parser test cases
  pkg/parser/parser_test.go
Due: run_go_ut, run_regtest

set into opt for unionStmt
  pkg/planner/core/logical_plan_builder.go
Due: run_go_ut, run_regtest

add translator ccl test for union-into-outfile
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

wip: add .devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

use `uname -m` instead of target platform arg
  .devcontainer/Dockerfile
Due: none

update postCreateCommand
  .devcontainer/devcontainer.json
Due: none

fix devcontainer not works issue
  .devcontainer/Dockerfile
Due: none

chore: upgrade to bazel 7.6.1
  .bazeliskrc
Due: run_cpp_ut

fix: update url
  docs/topics/deployment/run-scql-on-kuscia.rst
Due: none

fix: update the links within the document (#559)
  docs/topics/deployment/run-scql-on-kuscia.rst
Due: none

add .devcontainer (#555)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore: upgrade to bazel 7.6.1 (#557)
  .bazeliskrc
Due: run_cpp_ut

chore: update spulib to 0.9.4.dev20250416
  MODULE.bazel
  MODULE.bazel.lock
Due: run_cpp_ut

chore: update spulib to 0.9.4.dev20250416 (#561)
  MODULE.bazel
  MODULE.bazel.lock
Due: run_cpp_ut

chore: upgrade to use dataproxy_sdk_cc@0.5.0.dev20250416
  .bazelrc
  .gitignore
  MODULE.bazel
  MODULE.bazel.lock
  engine/datasource/BUILD.bazel
  engine/datasource/dp_adaptor.cc
Due: run_cpp_ut, run_regtest

all origins will be allowed
  pkg/broker/server/server.go
  pkg/scdb/server/server.go
Due: run_go_ut, run_regtest

remove cors config
  pkg/broker/server/server.go
  pkg/scdb/server/server.go
Due: run_go_ut, run_regtest

chore: remove cors config (#565)
  pkg/broker/server/server.go
  pkg/scdb/server/server.go
Due: run_go_ut, run_regtest

update dataproxy_sdk_cc version
  MODULE.bazel
  MODULE.bazel.lock
  engine/datasource/BUILD.bazel
Due: run_cpp_ut, run_regtest

chore: upgrade to use dataproxy_sdk_cc@0.5.0.dev20250416 (#563)
  .bazelrc
  .gitignore
  MODULE.bazel
  MODULE.bazel.lock
  engine/datasource/BUILD.bazel
  engine/datasource/dp_adaptor.cc
Due: run_cpp_ut, run_regtest

[StepSecurity] Apply security best practices
  .devcontainer/Dockerfile
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-check.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/scorecards.yml
  .github/workflows/trigger_release.yml
  .pre-commit-config.yaml
Due: none

[StepSecurity] Apply security best practices
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-check.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/scorecards.yml
  .github/workflows/trigger_release.yml
  .pre-commit-config.yaml
Due: none

[StepSecurity] Apply security best practices (#568)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-check.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/scorecards.yml
  .github/workflows/trigger_release.yml
  .pre-commit-config.yaml
Due: none

add temporal types related aux func
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

add implicit type conversion for temporal types
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

add more err info
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

use UnixMilli
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_regtest

use time.Parse instead of time.ParseInLocation
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_regtest

deal with ArchiveProject in SyncInfo
  pkg/broker/services/inter/svc.go
Due: run_go_ut, run_regtest

impl intra ArchiveProject
  pkg/broker/constant/constant.go
  pkg/broker/server/server.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/svc.go
Due: run_go_ut, run_regtest

add util func for SyncInfo-ArchiveProject
  pkg/broker/services/common/storage_with_check.go
Due: run_go_ut, run_regtest

brokerctl supports archive project
  cmd/brokerctl/cmd/archive.go
  cmd/brokerctl/cmd/root.go
  pkg/broker/application/intra_stub.go
  pkg/util/brokerutil/broker_stub_util.go
Due: run_go_ut, run_regtest

update archive status when calling CheckAndUpdateStatus
  pkg/broker/services/intra/status_handler.go
Due: run_go_ut, run_regtest

add more info when archive project is partially successful
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

print more successful info when brokerctl calling archiveProject
  cmd/brokerctl/cmd/archive.go
  pkg/util/brokerutil/broker_stub_util.go
Due: run_go_ut, run_regtest

deal with the condition that self is the project creator in ArchiveProject
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

creating/dropping tables is not allowed after the project is archived
  pkg/broker/services/intra/table_handler.go
Due: run_go_ut, run_regtest

refactor-CheckProjectArchived
  pkg/broker/services/common/common.go
  pkg/broker/services/intra/table_handler.go
Due: run_go_ut, run_regtest

querying is not allowed after the project is archived
  pkg/broker/services/intra/query_handler.go
Due: run_go_ut, run_regtest

CCL related ops are not allowed after the project is archived
  pkg/broker/services/intra/ccl_handler.go
Due: run_go_ut, run_regtest
