Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  enable_regtest:
    type: boolean
    default: false

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  run_ut:
    when:
      and:
        - not: << pipeline.parameters.enable_regtest >>
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
        - not: << pipeline.parameters.GHA_Event >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/unittest-config.yml
          mapping: |
            api/.* run_go_ut true
            cmd/.* run_go_ut true
            pkg/.* run_go_ut true
            contrib/.* run_go_ut true
            .circleci/unittest-config.yml run_go_ut true 
            bazel/.* run_cpp_ut true
            engine/.* run_cpp_ut true
            .bazelrc run_cpp_ut true
            .bazeliskrc run_cpp_ut true
            MODULE.bazel run_cpp_ut true
            .circleci/unittest-config.yml run_cpp_ut true
  run_regtest:
    when: << pipeline.parameters.enable_regtest >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/regtest-config.yml
          mapping: |
            api/.* run_regtest true
            bazel/.* run_regtest true
            cmd/.* run_regtest true
            engine/.* run_regtest true
            pkg/.* run_regtest true
            .bazelrc run_regtest true
            .circleci/regtest-config.yml run_regtest true
  publish-workflow:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
          # This is mandatory to trigger a pipeline when pushing a tag
          filters:
            tags:
              only: /.*(?<!dev\d{8})$/

cpp coverage test
  engine/util/filepath_helper.h
Due: run_cpp_ut, run_regtest

use codecov
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

add test case for go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

trigger
  engine/util/filepath_helper_test.cc
Due: run_cpp_ut, run_regtest

install gpg for codecov
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

remove sudo
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

modify codecov flags
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

transfer git context
  .circleci/config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

modify mapping in path-filtering
  .circleci/config.yml
Due: none

trigger
  engine/util/filepath_helper.cc
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_cpp_ut, run_regtest

debug
  .circleci/unittest-config.yml
  engine/util/filepath_helper.cc
  engine/util/filepath_helper.h
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_cpp_ut, run_regtest

add codecov to fix path mapping
  codecov.yml
  engine/util/filepath_helper.cc
  engine/util/filepath_helper.h
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_cpp_ut, run_regtest

open verbose option in codecov
  .circleci/unittest-config.yml
  engine/util/filepath_helper.cc
  engine/util/filepath_helper.h
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_cpp_ut, run_regtest

update fixes in codecov.yml
  codecov.yml
  engine/util/filepath_helper.cc
  engine/util/filepath_helper.h
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_cpp_ut, run_regtest

remove test code
  codecov.yml
  engine/util/filepath_helper.cc
  engine/util/filepath_helper.h
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_cpp_ut, run_regtest

test
  pkg/interpreter/interpreter.go
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_regtest

test
  .circleci/config.yml
  pkg/interpreter/interpreter.go
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_regtest

add codecov
  .circleci/config.yml
Due: none

trigger
  pkg/interpreter/interpreter.go
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_regtest

modify when/matches
  .circleci/config.yml
Due: none

update pipeline commit message paramter
  .circleci/config.yml
Due: none

fix run coverage check
  .circleci/config.yml
Due: none

remove unnecessary condition
  .circleci/config.yml
Due: none

reduce workflow nums
  .circleci/config.yml
Due: none

decider_check_coverage_run should make decision
  .circleci/config.yml
Due: none

modify decider_check_coverage_run
  .circleci/config.yml
Due: none

rename
  .circleci/config.yml
Due: none

Fix typo and minor bug (#616)
  pkg/broker/services/intra/project_handler.go
  pkg/util/tableview/tableview.go
Due: run_go_ut, run_regtest

remove test code, [run-go-coverage]
  pkg/interpreter/interpreter.go
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_regtest

CI: add go/cpp test coverage (#620)
  .circleci/config.yml
Due: none

Feat: Support str_to_date (#606)
  engine/operator/arrow_func.cc
  engine/operator/arrow_func_test.cc
  pkg/interpreter/translator/arrow_func_options.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_cpp_ut, run_regtest

trigger circleci by label
  .circleci/config.yml
  .github/workflows/trigger_test.yml
Due: none

refactor
  .circleci/config.yml
Due: none

update jobs
  .circleci/config.yml
  .github/workflows/trigger_test.yml
Due: none

set docker for ut
  .circleci/config.yml
Due: none

update ccl descriptions for join
  docs/locales/zh_CN/LC_MESSAGES/topics/ccl/intro.po
  docs/locales/zh_CN/LC_MESSAGES/topics/ccl/usage.po
  docs/topics/ccl/intro.rst
  docs/topics/ccl/usage.rst
Due: none

update path-filtering
  .circleci/config.yml
Due: none

path-filtering is job level op
  .circleci/config.yml
Due: none

change pr type to string
  .circleci/config.yml
  .github/workflows/trigger_test.yml
Due: none
