Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

fix description
  docs/reference/operators.md
Due: none

fix typo
  docs/reference/operators.md
Due: none

chore: update doc (#641)
  .vscode/settings.json
  CONTRIBUTING.md
  Makefile
  docs/locales/zh_CN/LC_MESSAGES/reference/operators.po
  docs/reference/operators.md
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_regtest

separate testing and coverage
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

remove when
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

go and cpp coverage should in one workflow
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

CI: separate testing and coverage (#645)
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

set default protocol for broker (#644)
  docs/reference/p2p-deploy-config.rst
  docs/topics/deployment/how-to-deploy-p2p-cluster.rst
  pkg/broker/config/config.go
  pkg/broker/config/config_test.go
Due: run_go_ut, run_regtest

check output type first
  engine/operator/cast.cc
  engine/operator/cast_test.cc
Due: run_cpp_ut, run_regtest

persist execution log
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

do not upload cache for coverage test
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

trigger & test bazel cache
  engine/util/filepath_helper.cc
  engine/util/filepath_helper.h
Due: run_cpp_ut, run_regtest

check cache by google sdk
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

show all buckets in gcs
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

ls gs-secretflow
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

Feat: Support string to DATETIME cast (#639)
  engine/operator/cast.cc
  engine/operator/cast_test.cc
Due: run_cpp_ut, run_regtest

simple cpp test with log
  .circleci/unittest-config.yml
  MODULE.bazel.lock
Due: run_go_ut, run_cpp_ut

use buildbuddy instead of gcs for bazel remote cache
  .circleci/unittest-config.yml
  scripts/bazel_cache_setup.py
Due: run_go_ut, run_cpp_ut

move
  bazel_cache_setup.py
Due: none

fix script path
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

fix black & exit gracefully
  bazel_cache_setup.py
Due: none

CI: switch from GCS to BuildBuddy for Bazel remote caching (#648)
  .circleci/unittest-config.yml
  bazel_cache_setup.py
Due: run_go_ut, run_cpp_ut

use shard count for heavy test
  engine/operator/BUILD.bazel
Due: run_cpp_ut, run_regtest

fix yaml-linter
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

only perform lcov processing if Bazel coverage succeeds
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

bazel use auto for jobs
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

clean
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

CI: speed cpp test/coverage execution (#640)
  .circleci/unittest-config.yml
  engine/operator/BUILD.bazel
Due: run_go_ut, run_cpp_ut, run_regtest

add changelog
  CHANGELOG.md
  MODULE.bazel
Due: run_cpp_ut

fix typo
  CHANGELOG.md
Due: none

modify version for 0.9.4 (#651)
  CHANGELOG.md
  MODULE.bazel
  go.mod
  version.txt
Due: run_cpp_ut

fix version tag
  version.txt
Due: none

update bazel remote cache steps
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

update bazel cache steps
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

update version
  version.txt
Due: none

fix cross join for runsql node
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/planner/core/logicalplan_to_stmt.go
  pkg/planner/core/testdata/runsql_in.json
Due: run_go_ut, run_regtest

fix cross join for runsql node (#653)
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/planner/core/logicalplan_to_stmt.go
  pkg/planner/core/testdata/runsql_in.json
Due: run_go_ut, run_regtest

update version and changelog
  CHANGELOG.md
  MODULE.bazel
  version.txt
Due: run_cpp_ut

CI: update bazel remote cache related steps (#652)
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

Path conditions:
  run_go_ut: ((((any of: api/.*) or (any of: cmd/.*)) or (any of: pkg/.*)) or (any of: contrib/.*)) or (any of: .circleci/unittest-config.yml)
  run_cpp_ut: (((((any of: bazel/.*) or (any of: engine/.*)) or (any of: .bazelrc)) or (any of: .bazeliskrc)) or (any of: MODULE.bazel)) or (any of: .circleci/unittest-config.yml)
  run_regtest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/regtest-config.yml)
