Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

sync: use rr22 as default psi type (#596)
  engine/operator/in.cc
  engine/operator/join.cc
  engine/services/engine_service_impl.cc
Due: run_cpp_ut, run_regtest

fix comment
  engine/util/concurrent_queue.h
Due: run_cpp_ut, run_regtest

[chore] clean unused code in join/in node
  engine/operator/in.cc
  engine/operator/join.cc
Due: run_cpp_ut, run_regtest

[chore] clean unused code in join/in node (#598)
  engine/operator/in.cc
  engine/operator/join.cc
Due: run_cpp_ut, run_regtest

list projects api return archive status
  api/broker.proto
  pkg/broker/services/intra/project_handler.go
  pkg/proto-gen/scql/broker.pb.go
Due: run_go_ut, run_regtest

[optimize] avoid aggressive projection elimination in aggregationPushDownSolver (#597)
  pkg/expression/column.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/testdata/runsql_in.json
  pkg/planner/core/testdata/typical_query_out.json
Due: run_go_ut, run_regtest

feat: ListProjects returns archive status (#599)
  api/broker.proto
  pkg/broker/services/intra/project_handler.go
  pkg/proto-gen/scql/broker.pb.go
Due: run_go_ut, run_regtest

update sql scripts for example-p2p
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
Due: none

update api doc
  docs/api/broker.swagger.yaml
Due: none

add more info in ListProjects example
  docs/api/broker.swagger.yaml
Due: none

remove table rules in p2p
  docs/api/broker.swagger.yaml
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
Due: none

chore: update api doc (#600)
  docs/api/broker.swagger.yaml
  examples/p2p-tutorial/mysql/initdb/broker_init_alice.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
Due: none

add betweenToExpression in expressionRewriter
  pkg/planner/core/expression_rewriter.go
Due: run_go_ut, run_regtest

add test for between-and
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

add go vulcheck & whitespace check
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/whitespace-check.yml
Due: none

feat: support between and (#601)
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/planner/core/expression_rewriter.go
Due: run_go_ut, run_regtest

test
  pkg/broker/application/app.go
Due: run_go_ut, run_regtest

update on-paths
  .github/workflows/govulncheck.yml
Due: none

update whitespace check
  .ci/script/check-whitespace.sh
  .github/workflows/whitespace-check.yml
Due: none

test go vulcheck
  pkg/broker/application/app.go
Due: run_go_ut, run_regtest

restore
  .ci/script/check-whitespace.sh
  .licenserc.yaml
  pkg/broker/application/app.go
Due: run_go_ut, run_regtest

chore(ci): add Go vuln check and whitespace linter (#602)
  .ci/script/check-whitespace.sh
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/whitespace-check.yml
  .licenserc.yaml
Due: none

update integer alias in doc
  docs/reference/lang/manual.rst
Due: none

[doc]update integer alias in doc (#603)
  docs/reference/lang/manual.rst
Due: none

sync: update docs for float type
  docs/locales/zh_CN/LC_MESSAGES/reference/lang/manual.po
  docs/reference/lang/manual.rst
Due: none

sync: update docs for float type (#604)
  docs/locales/zh_CN/LC_MESSAGES/reference/lang/manual.po
  docs/reference/lang/manual.rst
Due: none

chore: update docs config
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/build.sh
  docs/conf.py
  docs/imgs/CONTRIBUTING/preview-content.png
  docs/imgs/CONTRIBUTING/preview-sitemap.png
  docs/make.bat
  docs/requirements.txt
  docs/update_po.sh
Due: none

chore: update docs config
  docs/conf.py
  docs/locales/zh_CN/LC_MESSAGES/reference/centralized-deploy-config.po
  docs/reference/centralized-deploy-config.rst
  docs/reference/engine-config.rst
  docs/requirements.txt
Due: none

chore: update docs config (#605)
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/build.sh
  docs/conf.py
  docs/imgs/CONTRIBUTING/preview-content.png
  docs/imgs/CONTRIBUTING/preview-sitemap.png
  docs/locales/zh_CN/LC_MESSAGES/reference/centralized-deploy-config.po
  docs/make.bat
  docs/reference/centralized-deploy-config.rst
  docs/reference/engine-config.rst
  docs/requirements.txt
  docs/update_po.sh
Due: none

register str_to_date op in broker
  pkg/interpreter/operator/constant.go
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_regtest

add striptime helper function
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

build StrToDate node
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

add translator tests for str_to_date
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

add StrToDate op in engine
  engine/operator/BUILD.bazel
  engine/operator/all_ops_register.cc
  engine/operator/str_to_date.cc
  engine/operator/str_to_date.h
  engine/operator/str_to_date_test.cc
Due: run_cpp_ut, run_regtest

fix dup import
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

use xlarge in ci
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

convert date-str into unix sec instead of unix milli
  pkg/interpreter/graph/graph_optimizer.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

update test case
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

Path conditions:
  run_go_ut: ((((any of: api/.*) or (any of: cmd/.*)) or (any of: pkg/.*)) or (any of: contrib/.*)) or (any of: .circleci/unittest-config.yml)
  run_cpp_ut: (((((any of: bazel/.*) or (any of: engine/.*)) or (any of: .bazelrc)) or (any of: .bazeliskrc)) or (any of: MODULE.bazel)) or (any of: .circleci/unittest-config.yml)
  run_regtest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/regtest-config.yml)
