Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  enable_regtest:
    type: boolean
    default: false

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  run_ut:
    when:
      and:
        - not: << pipeline.parameters.enable_regtest >>
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
        - not: << pipeline.parameters.GHA_Event >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/unittest-config.yml
          mapping: |
            api/.* run_go_ut true
            cmd/.* run_go_ut true
            pkg/.* run_go_ut true
            contrib/.* run_go_ut true
            .circleci/unittest-config.yml run_go_ut true 
            bazel/.* run_cpp_ut true
            engine/.* run_cpp_ut true
            .bazelrc run_cpp_ut true
            .bazeliskrc run_cpp_ut true
            MODULE.bazel run_cpp_ut true
            .circleci/unittest-config.yml run_cpp_ut true
  run_regtest:
    when: << pipeline.parameters.enable_regtest >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/regtest-config.yml
          mapping: |
            api/.* run_regtest true
            bazel/.* run_regtest true
            cmd/.* run_regtest true
            engine/.* run_regtest true
            pkg/.* run_regtest true
            .bazelrc run_regtest true
            .circleci/regtest-config.yml run_regtest true
  publish-workflow:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
          # This is mandatory to trigger a pipeline when pushing a tag
          filters:
            tags:
              only: /.*(?<!dev\d{8})$/

creating/dropping view is not allowed after proj is archived
  pkg/broker/services/intra/view_handler.go
Due: run_go_ut, run_regtest

creating project & inviting are not allowed after proj is archived
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

creating project doesn't need check
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

ProcessInvitation doesn't need check
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

fix golangci-lint bug
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

update cimg/python version to 3.10 for path-filtering
  .circleci/config.yml
Due: none

update path-filtering to 1.2.0
  .circleci/config.yml
Due: none

ci: update path-filtering (#575)
  .circleci/config.yml
Due: none

update TestParameterCheck
  pkg/broker/services/intra/handler_test.go
Due: run_go_ut, run_regtest

modify return vals of CheckProjectArchived
  pkg/broker/services/common/common.go
  pkg/broker/services/intra/ccl_handler.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/table_handler.go
  pkg/broker/services/intra/view_handler.go
Due: run_go_ut, run_regtest

Implement implicit type casting for constant and regular tensors in binary operations
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

add graph optimizer - remove cast node for constant
  pkg/interpreter/graph/graph_optimizer.go
  pkg/interpreter/interpreter.go
Due: run_go_ut, run_regtest

fix goconst
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

modify err msg & log err info
  pkg/broker/services/common/storage_with_check.go
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

add more msg info in response status
  pkg/broker/services/common/common.go
Due: run_go_ut, run_regtest

change Equals to Confilcts
  pkg/broker/services/intra/status_handler.go
  pkg/broker/storage/model.go
Due: run_go_ut, run_regtest

add more project-archived check
  pkg/broker/services/inter/project_handler.go
  pkg/broker/services/inter/query_handler.go
  pkg/broker/services/inter/svc.go
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

remove panic in CheckProjectArchived
  pkg/broker/services/common/common.go
Due: run_go_ut, run_regtest

feat: Implement the archive project API (#574)
  cmd/brokerctl/cmd/archive.go
  cmd/brokerctl/cmd/root.go
  pkg/broker/application/intra_stub.go
  pkg/broker/constant/constant.go
  pkg/broker/server/server.go
  pkg/broker/services/common/common.go
  pkg/broker/services/common/storage_with_check.go
  pkg/broker/services/inter/project_handler.go
  pkg/broker/services/inter/query_handler.go
  pkg/broker/services/inter/svc.go
  pkg/broker/services/intra/ccl_handler.go
  pkg/broker/services/intra/handler_test.go
  pkg/broker/services/intra/project_handler.go
  pkg/broker/services/intra/query_handler.go
  pkg/broker/services/intra/status_handler.go
  pkg/broker/services/intra/svc.go
  pkg/broker/services/intra/table_handler.go
  pkg/broker/services/intra/view_handler.go
  pkg/broker/storage/model.go
  pkg/util/brokerutil/broker_stub_util.go
Due: run_go_ut, run_regtest

optimize code
  pkg/interpreter/graph/graph_optimizer.go
Due: run_go_ut, run_regtest

add tests for graph optimizer
  pkg/interpreter/graph/graph_optimizer_test.go
Due: run_go_ut, run_regtest

add datetime in interpreter test
  pkg/interpreter/interpreter_test.go
Due: run_go_ut, run_regtest

remove dup match check
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_regtest

add visualization test case
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/interpreter/translator/translator_ccl_test.go
Due: run_go_ut, run_regtest

[fix]add default prefix for http
  engine/link/channel_manager.cc
Due: run_cpp_ut, run_regtest

clean
  engine/link/channel_manager.cc
Due: run_cpp_ut, run_regtest

[fix]add default prefix for http (#578)
  engine/link/channel_manager.cc
Due: run_cpp_ut, run_regtest

strict check
  pkg/interpreter/graph/graph_optimizer.go
Due: run_go_ut, run_regtest

Implicit Type Conversion for Temporal Types (#569)
  pkg/interpreter/graph/graph_optimizer.go
  pkg/interpreter/graph/graph_optimizer_test.go
  pkg/interpreter/interpreter.go
  pkg/interpreter/interpreter_test.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/interpreter/translator/translator_ccl_test.go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

refactor datasource
  engine/core/tensor_builder.cc
  engine/core/tensor_builder.h
  engine/datasource/BUILD.bazel
  engine/datasource/arrow_sql_adaptor.cc
  engine/datasource/arrow_sql_adaptor.h
  engine/datasource/csvdb_adaptor.cc
  engine/datasource/csvdb_adaptor.h
  engine/datasource/csvdb_adaptor_test.cc
  engine/datasource/datasource_adaptor.cc
  engine/datasource/datasource_adaptor.h
  engine/datasource/dp_adaptor.cc
  engine/datasource/dp_adaptor.h
  engine/datasource/dp_adaptor_test.cc
  engine/datasource/odbc_adaptor.cc
  engine/datasource/odbc_adaptor.h
  engine/operator/bucket.cc
  engine/operator/bucket.h
  engine/services/engine_service_impl_test.cc
  engine/util/concurrent_queue.h
Due: run_cpp_ut, run_regtest

chore(deps): update to brpc@1.3.0
  MODULE.bazel
  MODULE.bazel.lock
Due: run_cpp_ut

Fix //engine/framework:session_manager_test
  engine/framework/session.cc
Due: run_cpp_ut, run_regtest

add MODULE.bazel.lock back
  MODULE.bazel.lock
Due: none

sync: refactor datasource (#580)
  engine/core/tensor_builder.cc
  engine/core/tensor_builder.h
  engine/datasource/BUILD.bazel
  engine/datasource/arrow_sql_adaptor.cc
  engine/datasource/arrow_sql_adaptor.h
  engine/datasource/csvdb_adaptor.cc
  engine/datasource/csvdb_adaptor.h
  engine/datasource/csvdb_adaptor_test.cc
  engine/datasource/datasource_adaptor.cc
  engine/datasource/datasource_adaptor.h
  engine/datasource/dp_adaptor.cc
  engine/datasource/dp_adaptor.h
  engine/datasource/dp_adaptor_test.cc
  engine/datasource/odbc_adaptor.cc
  engine/datasource/odbc_adaptor.h
  engine/operator/bucket.cc
  engine/operator/bucket.h
  engine/services/engine_service_impl_test.cc
  engine/util/concurrent_queue.h
Due: run_cpp_ut, run_regtest

Fix //engine/framework:session_manager_test (#582)
  engine/framework/session.cc
Due: run_cpp_ut, run_regtest

sync: reveal filter by index to parties who get result
  engine/operator/join.cc
  engine/operator/join.h
  pkg/broker/executor/query_runner_test.go
  pkg/interpreter/ccl/column_tracer.go
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/graph/optimizer/graph_splitter_test.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_ccl.go
  pkg/interpreter/translator/build_ccl_test.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/logical_node_builder.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/interpreter/translator/translator_ccl_test.go
Due: run_go_ut, run_cpp_ut, run_regtest

sync: reveal filter by index to parties who get result (#583)
  engine/operator/join.cc
  engine/operator/join.h
  pkg/broker/executor/query_runner_test.go
  pkg/interpreter/ccl/column_tracer.go
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/graph/optimizer/graph_splitter_test.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/build_ccl.go
  pkg/interpreter/translator/build_ccl_test.go
  pkg/interpreter/translator/build_execution_node.go
  pkg/interpreter/translator/logical_node_builder.go
  pkg/interpreter/translator/translator.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/interpreter/translator/translator_ccl_test.go
Due: run_go_ut, run_cpp_ut, run_regtest

[chore] little fix for function parameter
  engine/operator/join.cc
  engine/operator/join.h
Due: run_cpp_ut, run_regtest

[chore] clean unused pre-check for SimpleChannel
  engine/util/concurrent_queue.h
Due: run_cpp_ut, run_regtest

[chore] clean unused pre-check for SimpleChannel (#585)
  engine/util/concurrent_queue.h
Due: run_cpp_ut, run_regtest
