Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

Path conditions:
  run_go_ut: ((((any of: api/.*) or (any of: cmd/.*)) or (any of: pkg/.*)) or (any of: contrib/.*)) or (any of: .circleci/unittest-config.yml)
  run_cpp_ut: (((((any of: bazel/.*) or (any of: engine/.*)) or (any of: .bazelrc)) or (any of: .bazeliskrc)) or (any of: MODULE.bazel)) or (any of: .circleci/unittest-config.yml)
  run_regtest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/regtest-config.yml)

add min_download arg
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

remove local bazel_cache_setup
  bazel_cache_setup.py
Due: none

chore(ci): use m4pro.medium class macos executor
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

fix runsql for nested join
  pkg/planner/core/logicalplan_to_stmt_helper.go
  pkg/planner/core/testdata/runsql_in.json
Due: run_go_ut, run_regtest

fix comment
  pkg/planner/core/logicalplan_to_stmt_helper.go
Due: run_go_ut, run_regtest

chore(ci): use m4pro.medium class macos executor (#656)
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

min_download is default now
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

fix runsql for nested join (#657)
  pkg/planner/core/logicalplan_to_stmt_helper.go
  pkg/planner/core/testdata/runsql_in.json
Due: run_go_ut, run_regtest

chore: remove local bazel_cache_setup.py (#655)
  bazel_cache_setup.py
Due: none

Use the one with larger data volume as the receiver for rr22 join
  engine/operator/join.cc
Due: run_cpp_ut, run_regtest

fix comment
  engine/operator/join.cc
Due: run_cpp_ut, run_regtest

add comment
  engine/operator/join.cc
Due: run_cpp_ut, run_regtest

update version and changelog (#654)
  CHANGELOG.md
  MODULE.bazel
  version.txt
Due: run_cpp_ut

add new state CMP_FIN
  engine/framework/session.cc
  engine/framework/session.h
Due: run_cpp_ut, run_regtest

add help func CompareAndSetState
  engine/framework/session_manager.cc
  engine/framework/session_manager.h
Due: run_cpp_ut, run_regtest

update state transfer
  engine/services/engine_service_impl.cc
  engine/services/engine_service_impl.h
Due: run_cpp_ut, run_regtest

add helper func SessionStateToString
  engine/framework/session.cc
  engine/framework/session.h
  engine/framework/session_manager.cc
Due: run_cpp_ut, run_regtest

update comment & preserve backward compatibility
  engine/framework/session.h
Due: run_cpp_ut, run_regtest

trigger cov by label run-ci-cov
  .github/workflows/trigger-ci-cov.yml
Due: none

add coverage pipeline config
  .circleci/coverage-config.yml
Due: none

remove cov in unittest
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

update label name
  .github/workflows/trigger-ci-ut.yml
Due: none

update comment
  .github/workflows/trigger-ci-ut.yml
Due: none

opt git clone with depth 1
  .circleci/coverage-config.yml
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

remove label automatically
  .github/workflows/trigger-ci-cov.yml
Due: none

CI: trigger coverage test by label (#661)
  .circleci/coverage-config.yml
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .github/workflows/trigger-ci-cov.yml
Due: run_regtest

update trigger-ci-cov
  .github/workflows/trigger-ci-cov.yml
Due: none

update definition id
  .github/workflows/trigger-ci-ut.yml
Due: none

CI: update pipeline-id in github action (#662)
  .github/workflows/trigger-ci-cov.yml
Due: none

auto remove
  .github/workflows/trigger-ci-ut.yml
Due: none

trigger release by circleci api v2
  .github/workflows/trigger-ci-release.yml
  .github/workflows/trigger_release.yml
Due: none

add & seperate release pipeline
  .circleci/config.yml
  .circleci/release-config.yml
Due: none

update
  .circleci/coverage-config.yml
  .circleci/regtest-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

fix whitespace issues
  .github/workflows/trigger-ci-release.yml
Due: none

CI: trigger circleci ut for labeled & forked pr (#638)
  .github/workflows/trigger-ci-ut.yml
Due: none

fix gemini issues
  .circleci/config.yml
  .circleci/regtest-config.yml
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut, run_regtest

update session state name
  engine/framework/session.cc
  engine/framework/session.h
  engine/services/engine_service_impl.cc
Due: run_cpp_ut, run_regtest

CI : add release pipeline (#663)
  .circleci/config.yml
  .circleci/coverage-config.yml
  .circleci/regtest-config.yml
  .circleci/release-config.yml
  .circleci/unittest-config.yml
  .github/workflows/trigger-ci-release.yml
  .github/workflows/trigger_release.yml
Due: run_go_ut, run_cpp_ut, run_regtest

trigger regtest monthly
  .github/workflows/trigger-ci-regtest.yml
Due: none

regtest does not need path-filtering
  .circleci/config.yml
  .circleci/path-filtering/regtest.conf
  .circleci/regtest-config.yml
Due: run_regtest
