Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_go_ut, run_cpp_ut, run_regtest

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  enable_regtest:
    type: boolean
    default: false

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  run_ut:
    when:
      and:
        - not: << pipeline.parameters.enable_regtest >>
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
        - not: << pipeline.parameters.GHA_Event >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/unittest-config.yml
          mapping: |
            api/.* run_go_ut true
            cmd/.* run_go_ut true
            pkg/.* run_go_ut true
            contrib/.* run_go_ut true
            .circleci/unittest-config.yml run_go_ut true 
            bazel/.* run_cpp_ut true
            engine/.* run_cpp_ut true
            .bazelrc run_cpp_ut true
            .bazeliskrc run_cpp_ut true
            MODULE.bazel run_cpp_ut true
            .circleci/unittest-config.yml run_cpp_ut true
  run_regtest:
    when: << pipeline.parameters.enable_regtest >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/regtest-config.yml
          mapping: |
            api/.* run_regtest true
            bazel/.* run_regtest true
            cmd/.* run_regtest true
            engine/.* run_regtest true
            pkg/.* run_regtest true
            .bazelrc run_regtest true
            .circleci/regtest-config.yml run_regtest true
  publish-workflow:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
          # This is mandatory to trigger a pipeline when pushing a tag
          filters:
            tags:
              only: /.*(?<!dev\d{8})$/

str_to_date only accepts private tensors
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_regtest

format string should conform to mysql str_to_date func specification
  pkg/interpreter/translator/translator.go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

add help func to convert mysql date format to arrow format
  engine/util/BUILD.bazel
  engine/util/string_util.cc
  engine/util/string_util.h
  engine/util/string_util_test.cc
Due: run_cpp_ut, run_regtest

engine str_to_date op converts format string
  engine/operator/BUILD.bazel
  engine/operator/str_to_date.cc
  engine/operator/str_to_date_test.cc
Due: run_cpp_ut, run_regtest

revert
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

update translator ccl test
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

update TestOptConstantCast
  pkg/interpreter/graph/graph_optimizer_test.go
Due: run_go_ut, run_regtest

fix: `PERCENTILE_DISC` ccl inference bug
  pkg/interpreter/translator/build_ccl.go
Due: run_go_ut, run_regtest

fix: fix `percentile_disc` ccl inference bug (#609)
  pkg/interpreter/translator/build_ccl.go
Due: run_go_ut, run_regtest

Fix: Convert date-strings into Unix sec instead of Unix millisec (#608)
  pkg/interpreter/graph/graph_optimizer.go
  pkg/interpreter/graph/graph_optimizer_test.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

support timezone for timestamp
  pkg/interpreter/graph/graph_optimizer.go
Due: run_go_ut, run_regtest

add StringToUnixSecWithTimezone func
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

remove ambiguous formats
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

Fix: Typo in README.md
  README.md
Due: none

Fix: Typo in README.md (#612)
  README.md
Due: none

add more log info for jobwatcher
  pkg/broker/application/worker.go
Due: run_go_ut, run_regtest

update log info
  pkg/broker/application/worker.go
Due: run_go_ut, run_regtest

opt error info
  pkg/interpreter/graph/graph_optimizer.go
Due: run_go_ut, run_regtest

Refactor: Support timezone for timestamp(Implicit Conversion) (#611)
  pkg/interpreter/graph/graph_optimizer.go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

chore: add more log info for jobWatcher (#613)
  pkg/broker/application/worker.go
Due: run_go_ut, run_regtest

fix streaming join
  engine/operator/join.cc
Due: run_cpp_ut, run_regtest

fix comment
  engine/operator/join.cc
Due: run_cpp_ut, run_regtest

[fix] fix streaming join when only one party gets join result (#614)
  engine/operator/join.cc
Due: run_cpp_ut, run_regtest

put MySQLDateFormatToArrowFormat in broker
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Due: run_go_ut, run_regtest

add strptime opt
  pkg/interpreter/translator/arrow_func_options.go
Due: run_go_ut, run_regtest

use AddArrowFuncNode instead of AddStrToDateNode
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

remove StrToDateNode related code
  engine/operator/str_to_date.cc
  engine/operator/str_to_date.h
  engine/operator/str_to_date_test.cc
  engine/util/string_util.cc
  engine/util/string_util.h
  engine/util/string_util_test.cc
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_cpp_ut, run_regtest

remove strToDate related bazel build
  engine/operator/BUILD.bazel
  engine/util/BUILD.bazel
Due: run_cpp_ut, run_regtest

update arrow func in engine to support strToDate
  engine/operator/arrow_func.cc
  engine/operator/arrow_func_test.cc
Due: run_cpp_ut, run_regtest

update translator test
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_go_ut, run_regtest

remove str_to_date registration in engine
  engine/operator/BUILD.bazel
  engine/operator/all_ops_register.cc
Due: run_cpp_ut, run_regtest

clean
  pkg/interpreter/translator/arrow_func_options.go
Due: run_go_ut, run_regtest

use arrow.TimeUnit instead of string for strptime unit
  pkg/interpreter/translator/arrow_func_options.go
  pkg/interpreter/translator/translator.go
Due: run_go_ut, run_regtest

remove unnecessary code
  pkg/interpreter/operator/constant.go
  pkg/interpreter/operator/operator_registration.go
Due: run_go_ut, run_regtest

typo: fix typo in common.VerifyProjectID
  pkg/broker/services/intra/project_handler.go
Due: run_go_ut, run_regtest

fix(tableview): correct format specifier for unsupported type error
  pkg/util/tableview/tableview.go
Due: run_go_ut, run_regtest

add go coverage test
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

go coverage test
  pkg/util/stringutil/string_util.go
Due: run_go_ut, run_regtest

add cpp coverage test
  .circleci/unittest-config.yml
Due: run_go_ut, run_cpp_ut

cpp coverage test
  engine/util/filepath_helper.cc
Due: run_cpp_ut, run_regtest
