Repository secretflow/scql: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_unittest, run_regtest

Update broker_init_bob.sql
  examples/p2p-tutorial/mysql/initdb/broker_init_bob.sql
Due: none

fix macos engine ut
  engine/exe/BUILD.bazel
Due: run_unittest, run_regtest

fix macos engine ut (#407)
  engine/exe/BUILD.bazel
Due: run_unittest, run_regtest

limit memory usage of bazel
  .circleci/unittest-config.yml
Due: run_unittest

more jvm memory
  .circleci/unittest-config.yml
Due: run_unittest

adjust jvm args
  .circleci/unittest-config.yml
Due: run_unittest

try again
  .circleci/unittest-config.yml
Due: run_unittest

using jobs and xmx in bazel
  .circleci/unittest-config.yml
Due: run_unittest

limit memory usage of bazel (#408)
  .circleci/unittest-config.yml
Due: run_unittest

fix poco to connect to doris
  engine/bazel/engine_deps.bzl
  engine/bazel/patches/poco.patch
Due: run_unittest, run_regtest

avoid mix usage of uint64_t and size_t
  engine/operator/replicate.cc
Due: run_unittest, run_regtest

fix postgres
  engine/datasource/kuscia_datamesh_router.cc
Due: run_unittest, run_regtest

Bump golang.org/x/net from 0.26.0 to 0.33.0
  go.mod
  go.sum
Due: none

apply go mod tidy
  go.sum
Due: none

support "postgres" and "postgresql" in kuscia datamesh (#424)
  engine/datasource/kuscia_datamesh_router.cc
Due: run_unittest, run_regtest

Bump golang.org/x/net from 0.26.0 to 0.33.0 (#425)
  go.mod
  go.sum
Due: none

avoid mix usage of uint64_t and size_t (#423)
  engine/operator/replicate.cc
Due: run_unittest, run_regtest

fix arrow func test error when global variable initialized uncorrectly
  engine/operator/arrow_func_test.cc
Due: run_unittest, run_regtest

fix arrow func test error when global variable initialized uncorrectly (#426)
  engine/operator/arrow_func_test.cc
Due: run_unittest, run_regtest

limit memory usage when build engine
  Makefile
Due: none

Limit bazel jobs and memory usage in makefile (#427)
  Makefile
Due: none

add agent to image
  .circleci/release-config.yml
Due: none

Add binary agent to image (#429)
  .circleci/release-config.yml
Due: none

Bump version to 0.9.2b1
  version.txt
Due: none

Bump version to 0.9.2b1 (#430)
  version.txt
Due: none

add faq doc
  docs/topics/faq.rst
  docs/topics/index.rst
Due: none

Add faq doc (#432)
  docs/topics/faq.rst
  docs/topics/index.rst
Due: none

Add CN faq doc
  docs/locales/zh_CN/LC_MESSAGES/topics/faq.po
  docs/topics/faq.rst
Due: none

test build buddy
  .bazelrc
  BUILD.bazel
  WORKSPACE
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

clean
  docs/locales/zh_CN/LC_MESSAGES/topics/faq.po
Due: none

[doc] Add CN faq doc (#435)
  docs/locales/zh_CN/LC_MESSAGES/topics/faq.po
  docs/topics/faq.rst
Due: none

fix path and image
  .bazelrc
  BUILD.bazel
Due: run_unittest, run_regtest

remove unused attr in constant node
  pkg/interpreter/graph/graph_builder.go
Due: run_unittest, run_regtest

fix unit test
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_unittest, run_regtest

Chore: add github issue translate action
  .github/workflows/translator.yml
Due: none

fix kuscia deps
  engine/bazel/engine_deps.bzl
Due: run_unittest, run_regtest

Chore: add github issue translate action (#454)
  .github/workflows/translator.yml
Due: none

[chore] remove unused attr in constant node (#453)
  engine/bazel/engine_deps.bzl
  pkg/interpreter/graph/graph_builder.go
  pkg/interpreter/operator/operator_registration.go
  pkg/interpreter/translator/translator_ccl_input_for_test.go
Due: run_unittest, run_regtest

Path conditions:
  run_unittest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/unittest-config.yml)
  run_regtest: ((((((any of: api/.*) or (any of: bazel/.*)) or (any of: cmd/.*)) or (any of: engine/.*)) or (any of: pkg/.*)) or (any of: .bazelrc)) or (any of: .circleci/regtest-config.yml)
